/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, table {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
  }
  
  .container {
    max-width: 800px; /* Reduced the max-width for a smaller container */
    margin: 0 auto;
    padding: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .card-header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .card-body {
    padding: 20px;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead {
    background-color: #3498db;
    color: #fff;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Center the content in both columns */
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
